In [2]:
import os
import pandas
import tqdm

In [8]:
source = '../resource/kaggle/origin/'
table = {
    'article':pandas.read_csv(os.path.join(source, 'csv/articles.csv'), dtype=str),
    'customer':pandas.read_csv(os.path.join(source, 'csv/customers.csv'), dtype=str),
    'transaction':pandas.read_csv(os.path.join(source, 'csv/transactions_train.csv'), dtype=str),
    'submission':pandas.read_csv(os.path.join(source, 'csv/sample_submission.csv'), dtype=str)
}

# Article

In [9]:
print(table['article'].shape)
table['article'].head(4)

(105542, 25)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,0108775015,0108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,09,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,0108775044,0108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,0108775051,0108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,0110065001,0110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,09,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

Missing value description.

In [10]:
table['article'].isna().sum()

article_id                        0
product_code                      0
prod_name                         0
product_type_no                   0
product_type_name                 0
product_group_name                0
graphical_appearance_no           0
graphical_appearance_name         0
colour_group_code                 0
colour_group_name                 0
perceived_colour_value_id         0
perceived_colour_value_name       0
perceived_colour_master_id        0
perceived_colour_master_name      0
department_no                     0
department_name                   0
index_code                        0
index_name                        0
index_group_no                    0
index_group_name                  0
section_no                        0
section_name                      0
garment_group_no                  0
garment_group_name                0
detail_desc                     416
dtype: int64

In [16]:
column = ['detail_desc']
for c in column: 
    
    print('-'*10 + '[{}]'.format(c) + '-'*10)
    print(table['article'][c].describe())
    continue

----------[detail_desc]----------
count                                105126
unique                                43404
top       T-shirt in printed cotton jersey.
freq                                    159
Name: detail_desc, dtype: object

In [ ]:
# for k in table['article']: print("{}:{}".format(k, table['article'][k].nunique()))

# Customer

In [18]:
print(table['customer'].shape)
table['customer'].head(4)

(1371980, 7)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...

Missing value description.

In [19]:
table['customer'].isna().sum()

customer_id                    0
FN                        895050
Active                    907576
club_member_status          6062
fashion_news_frequency     16009
age                        15861
postal_code                    0
dtype: int64

In [20]:
column = ['FN', 'Active', 'club_member_status', 'fashion_news_frequency', 'age']
for c in column: 
    
    print('-'*10 + '[{}]'.format(c) + '-'*10)
    print(table['customer'][c].describe())
    continue

----------[FN]----------
count     476930
unique         1
top          1.0
freq      476930
Name: FN, dtype: object
----------[Active]----------
count     464404
unique         1
top          1.0
freq      464404
Name: Active, dtype: object
----------[club_member_status]----------
count     1365918
unique          3
top        ACTIVE
freq      1272491
Name: club_member_status, dtype: object
----------[fashion_news_frequency]----------
count     1355971
unique          4
top          NONE
freq       877711
Name: fashion_news_frequency, dtype: object
----------[age]----------
count     1356119
unique         84
top            21
freq        67530
Name: age, dtype: object

In [ ]:
# table['customer']['Active'].describe()
# table['customer']['club_member_status'].describe()
# table['customer']['fashion_news_frequency'].describe()
# table['customer']['age'].describe()
# for k in table['customer']: print("{}:{}".format(k, table['customer'][k].nunique()))

# Transaction

In [21]:
print(table['transaction'].shape)
table['transaction'].head(4)

(31788324, 5)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050830508474576264,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.03049152542372881,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.01523728813559322,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932203389830508,2

Missing value description.

In [22]:
table['transaction'].isna().sum()

t_dat               0
customer_id         0
article_id          0
price               0
sales_channel_id    0
dtype: int64

In [ ]:
# for k in table['transaction']: print("{}:{}".format(k, table['transaction'][k].nunique()))

# Submission

In [24]:
print(table['submission'].shape)
table['submission'].head(4)

(1371980, 2)

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...

---

# Sample

In [25]:
size = 0.01
number = int(len(table['transaction']) * size)
sample = {
    "transaction":table['transaction'].head(number).copy()
}

In [26]:
value = set(table['transaction'].head(number+int(number*0.5))['customer_id'])
index = [i in value for i in tqdm.tqdm(table['customer']['customer_id'])]
sample['customer'] = table['customer'].loc[index].copy()

100%|██████████| 1371980/1371980 [00:00<00:00, 2450991.34it/s]

In [27]:
value = set(table['transaction'].head(number+int(number*0.5))['article_id'])
index = [i in value for i in tqdm.tqdm(table['article']['article_id'])]
sample['article'] = table['article'].loc[index].copy()

100%|██████████| 105542/105542 [00:00<00:00, 2506101.33it/s]

In [28]:
value = set(table['submission'].head(number+int(number*0.5))['customer_id'])
index = [i in value for i in tqdm.tqdm(table['submission']['customer_id'])]
sample['submission'] = table['submission'].loc[index].copy()

100%|██████████| 1371980/1371980 [00:00<00:00, 2764371.63it/s]

In [29]:
folder = '../resource/kaggle/sample/csv/'
os.makedirs(folder, exist_ok=True)
sample['customer'].to_csv(os.path.join(folder, "customers.csv"), index=False)
sample['article'].to_csv(os.path.join(folder, "articles.csv"), index=False)
sample['transaction'].to_csv(os.path.join(folder, "transactions_train.csv"), index=False)
sample['submission'].to_csv(os.path.join(folder, "sample_submission.csv"), index=False)

---